{% extends 'accounts/main.html' %}
{% block content  %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-6">
            <h3>Enter new password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}<br>
                <input type="submit" class="btn btn-sm btn-danger mt-2" value="Update password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}